GHCR_IMAGE_PREFIX=ghcr.io/zaayn-lox/ubuntu-lab

MYSQL_ROOT_PASSWORD=change_me_root
MYSQL_DATABASE=boardy_laravel
MYSQL_USER=boardy
MYSQL_PASSWORD=boardy_password

DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=boardy_laravel
DB_USERNAME=boardy
DB_PASSWORD=boardy_password

REDIS_HOST=redis
REDIS_PORT=6379
